// Color
color-background = #f1f1f1
color-font = #6d6d6d
color-font2 = #6d6d6d
color-meta = #999
color-border = #f1f1f1
color-link = #1b7aca
color-sidebar = #f1f1f1
color-article = color-border
color-title = #c0c0c0
color-info = #ffffff

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
