// Blue-light
color-background = #f1f1f1
color-block-background = color-background
color-font = #6d6d6d
color-title-font = color-font
color-border = #f1f1f1
color-link = #1b7aca
color-sidebar = #1b7aca
color-transition = #1b7aca
color-article = color-border
color-title = #c0c0c0
color-info = #ffffff
color-shadow = #ececec

// Green-dark
//color-background = #1f1f1f
//color-block-background = color-background
//color-font = #6d6d6d
//color-title-font = #469632
//color-border = #444444
//color-link = #444444
//color-sidebar = #212321
//color-transition = #2d2d2d
//color-article = color-border
//color-title = #469632
//color-info = #469632
//color-shadow = #2a2e34

// Green-grey
//color-background = #f1f1f1
//color-block-background = color-background
//color-font = #6d6d6d
//color-title-font = #669966
//color-border = #cccccc
//color-link = #006633
//color-sidebar = #cccccc
//color-transition = #dedede
//color-article = color-border
//color-title = #c0c0c0
//color-info = #5d5d5d
//color-shadow = #ececec

//Red-white
//color-background = #ffffff
//color-block-background = #eeeeee
//color-font = #202020
//color-title-font = #080808
//color-border = #9fa8ad
//color-link = #a90000
//color-sidebar = #a20000
//color-transition = #ffffff
//color-article = color-border
//color-title = #000000
//color-info = #ffffff
//color-shadow = #dddddd

// Font
font-default = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

//@import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
