<!-- <% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %> -->
<div class="personal-info">
  <figure>
    <img class="personal-photo" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/c0.0.160.160/p160x160/275139_1134525339_704369436_n.jpg" alt="Thiago Pontes">
    <figcaption>
      <h3>Thiago Pontes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, architecto, velit iusto corporis ipsa ea illum est fugit perferendis aliquid odit sit quis voluptatem! Assumenda voluptatibus similique doloremque quod odit.</p>
    </figcaption>
  </figure>
</div>
