#pagination
  a
    display block
    padding 5px 10px
    background color-sidebar
    color color-info
    font-family font-title
    text-shadow 0 0 2px #6d6d6d
    margin-bottom 50px
    &:hover
      background color-font
      color color-background
      text-decoration none
      text-shadow none

  .prev
    &:before
      content '\f053'
      padding-right 10px
      font-family font-icon

  .next
    &:after
      content '\f054'
      padding-left 10px
      font-family font-icon
