
#sidebar
  width 300px
  @media screen and (min-width: 1260px)
    width 350px
  line-height 1.8em
  position fixed
  right 70%
  top 0
  z-index 999
  left 0px
  border-right solid 1px color-transition
  height 100%
  background-color color-sidebar
  background color-sidebar
  box-shadow 0px 0 0 0 #222
  @media screen and (max-width: 800px)
    // float none
    // width 10%
    display none

  p
    text-indent 0
    position relative
    top 5px
  .personal-info
    color color-info
    position relative
    text-align center
    top 5%
    margin 0 auto
    max-width 60%
  .theme-info
    color color-info
    position relative
    text-align center
    bottom -49.3%
    margin 0 auto
    max-width 80%
    font-size 12px;
    a
      color color-info
  .personal-info figure
    border-bottom solid 1px color-sidebar
  .social
    text-indent 0
    border-top solid 1px color-sidebar
    text-align center
  .personal-photo
    border-radius 150px
    height 170px
    width 170px
    // border 5px solid white
    // box-shadow 1px 2px 3px #6d6d6d
  .personal-name
    font-size 1.5em
  .icon
    text-indent 0
    position relative
    font 1.1em font-icon
    margin 0 auto
    padding 10px
    top 25px
    text-decoration none
    color color-info
    font-size 30px
    &:hover
      color color-font
  .github
    &:before
      content "\f09b"
  .googleplus
    &:before
      content "\f0d4"
  .zhihu
    &:before
      content "知"
  .facebook
    &:before
      content "\f082"
  .twitter
    &:before
      content "\f099"
  .email
    &:before
      content "\f0e0"
  .weibo
    &:before
      content "\f18a"
  .renren
    &:before
      content "\f18b"
  .pinterest
    &:before
      content "\f0d3"
  .linkedin
    &:before
      content "\f0e1"
  .instagram
    &:before
      content "\f16d"
.html5
  font 1.1em FontAwesome
  &:before
   content "\f13b"



  .widget
    background #fff
    box-shadow 1px 2px 3px #ddd
    margin-bottom 30px
    word-wrap break-word
    .title
      padding 15px 20px
      font-size 1em
      border-bottom 1px solid color-border
      font-weight normal

    .entry
      font-size 0.9em
      padding 15px 20px

    ul, ol, dl
      list-style none
      ul, ol, dl
        list-style disc
        margin-left 20px

  .search
    margin-bottom 30px
    input
      background #fff
      font-family font-title
      font-style italic
      font-size 1em
      padding 10px 15px
      border 1px solid color-border
      width 100%
      box-sizing border-box
      color #999 
      &:focus
        color color-font

  .tag
    small
      margin-left 15px
      color #999 
      &:before
        content '('
      &:after
        content ')'

  .twitter
    li
      border-bottom 1px solid color-border
      padding 15px 20px
      font-size 0.9em
      &:last-of-type
        border-bottom none
    small
      display block
      margin-top 10px
      color #999 
      line-height 1

  .tagcloud
    .entry
      padding-right 5px
    a
      margin-right 10px
      display inline-block
